@import "10-colors";

$list-names: alice, bob, charlie;

@each $name in $list-names {
  .#{$name} {
    background-image: url("images/#{$name}.jpg");
  }
}

.red {
  color: $red;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}
